.oven-channel{data: {oven: @oven.id}}
  - if browser.device.mobile?
    = link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button', style: 'margin-top: 1em;'

  %h3= @oven.name

  .cookie-info
    Cookie in oven:
    - if @oven.cookie
      #{pluralize(@oven.cookie.batch, "cookie")} with #{@oven.cookie.fillings.presence || "no fillings"}
      - if @oven.cookie.ready?
        (Your Cookie is Ready)
        = button_to "Retrieve Cookie", empty_oven_path(@oven), class: 'button tiny'
    - else
      None

  %br

  - unless browser.device.mobile?
    = link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
